@import '../../../shared/styles/label.mixin';

$gap: 18px;
$small-gap: 3px;
$white-color: #fff;
$box-shadow: 0 10px 13px -7px #00000012, 1px 5px 6px 5px rgba(0, 0, 0, 0.13);
$border-radius: 2px;
$label-color: #111111;
$label-font-size: 0.8em;
$label-font-weight: 500;
$calendar-icon-color: #080808;
$search-icon-color: #3fa9f5;

:host {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: $gap;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background-color: $white-color;
  padding: 14px;
}

.grid-item {
  flex: 1 1 100%;
  box-sizing: border-box;
}

.status,
.product-line,
.picker {
  --label-text: attr(data-label);
  @include label-above-text(-1.2em, 0, $label-color, $label-font-size, $label-font-weight, '');
}

.status {
  display: flex;
  flex-wrap: nowrap;
  order: 1;
  gap: $gap;
  margin-top: 12px;
  max-width: 295px;
  white-space: nowrap;
}

.product-line {
  flex: 1 1 140px;
  order: 2;
  margin-top: 10px;
  max-width: 140px;
  @include label-above-text(-1.1em, 0, $label-color, $label-font-size, $label-font-weight, '');
}

.date-range {
  display: flex;
  flex: 1 1 220px;
  flex-wrap: nowrap;
  order: 3;
  gap: 20px;
  max-width: 208px;

  .picker {
    max-width: 94px;
  }
}

.search-block {
  flex: 2 1 220px;
  order: 5;
  margin-left: auto;
  width: 100%;

  @include min-breakpoint('desktop') {
    max-width: 220px;
  }
}

.search input {
  box-sizing: border-box;
  width: 100%;
}

.calendar-icon {
  color: $calendar-icon-color;
}

.search-icon,
.chevron-down-icon {
  color: $search-icon-color;
}

@include max-breakpoint('tablet') {
  .flex-item {
    flex: 1 1 100%;
  }

  .status {
    max-width: unset;
  }

  .product-line {
    flex: 1 1 content;
    max-width: 140px;
  }

  .date-range {
    flex: 1 1 auto;
    max-width: unset;
  }
}

@include max-breakpoint('small-mobile') {
  .status {
    flex-direction: column;
    gap: $small-gap;
  }
}
