:host {
  display: block;
  background-color: #f4f6f9;
  padding: 23px 27px 27px 28px;
  height: 100%;
}

.header {
  font-weight: 600;
  font-size: 27px;
  line-height: 1.1;
}

.filter {
  margin-top: 26px;
}

.table {
  margin-top: 10px;
}
